<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ingredientType</servlet-name>
  	<display-name>ingredientType</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.ingredientType</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckidService</servlet-name>
  	<display-name>CheckidService</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.CheckidService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChecknickService</servlet-name>
  	<display-name>ChecknickService</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.ChecknickService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JoinService</servlet-name>
  	<display-name>JoinService</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.JoinService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<display-name>LoginService</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.LoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>cocktailType</servlet-name>
  	<display-name>cocktailType</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.cocktailType</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ingrsp</servlet-name>
  	<display-name>ingrsp</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.ingrsp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loadingrsp</servlet-name>
  	<display-name>loadingrsp</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.loadingrsp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutService</servlet-name>
  	<display-name>LogoutService</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.LogoutService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userUpdate</servlet-name>
  	<display-name>userUpdate</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.userUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>cangeimg</servlet-name>
  	<display-name>cangeimg</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.cangeimg</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>cocktailheart</servlet-name>
  	<display-name>cocktailheart</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.cocktailheart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Checkheart</servlet-name>
  	<display-name>Checkheart</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.Checkheart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteheart</servlet-name>
  	<display-name>deleteheart</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.deleteheart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MypageCocktail</servlet-name>
  	<display-name>MypageCocktail</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.MypageCocktail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Mypagecount</servlet-name>
  	<display-name>Mypagecount</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.Mypagecount</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoadPost</servlet-name>
  	<display-name>LoadPost</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.LoadPost</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateFileService</servlet-name>
  	<display-name>updateFileService</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.updateFileService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PostUpload</servlet-name>
  	<display-name>PostUpload</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.PostUpload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Jsuser</servlet-name>
  	<display-name>Jsuser</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.Jsuser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>comment_up</servlet-name>
  	<display-name>comment_up</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.comment_up</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CommentLoad</servlet-name>
  	<display-name>CommentLoad</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.CommentLoad</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getimg</servlet-name>
  	<display-name>getimg</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.getimg</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetPost</servlet-name>
  	<display-name>GetPost</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.GetPost</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CommentLoad_post</servlet-name>
  	<display-name>CommentLoad_post</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.CommentLoad_post</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>comment_up_post</servlet-name>
  	<display-name>comment_up_post</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.comment_up_post</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateComment</servlet-name>
  	<display-name>updateComment</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.updateComment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteComment</servlet-name>
  	<display-name>deleteComment</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.deleteComment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deletePost</servlet-name>
  	<display-name>deletePost</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.deletePost</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updatePost</servlet-name>
  	<display-name>updatePost</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.updatePost</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateComment_ct</servlet-name>
  	<display-name>updateComment_ct</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.updateComment_ct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteComment_ct</servlet-name>
  	<display-name>deleteComment_ct</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.deleteComment_ct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoadFeed</servlet-name>
  	<display-name>LoadFeed</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.LoadFeed</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FeedUpload</servlet-name>
  	<display-name>FeedUpload</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.FeedUpload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetFeed</servlet-name>
  	<display-name>GetFeed</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.GetFeed</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>comment_up_feed</servlet-name>
  	<display-name>comment_up_feed</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.comment_up_feed</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CommentLoad_feed</servlet-name>
  	<display-name>CommentLoad_feed</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.CommentLoad_feed</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Checkheart_feed</servlet-name>
  	<display-name>Checkheart_feed</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.Checkheart_feed</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>feedheart</servlet-name>
  	<display-name>feedheart</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.feedheart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteheart_feed</servlet-name>
  	<display-name>deleteheart_feed</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.deleteheart_feed</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateComment_feed</servlet-name>
  	<display-name>updateComment_feed</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.updateComment_feed</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteComment_feed</servlet-name>
  	<display-name>deleteComment_feed</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.deleteComment_feed</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateFeed</servlet-name>
  	<display-name>updateFeed</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.updateFeed</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteFeed</servlet-name>
  	<display-name>deleteFeed</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.deleteFeed</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MypageCocktail_feed</servlet-name>
  	<display-name>MypageCocktail_feed</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.MypageCocktail_feed</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Mypagecount_feed</servlet-name>
  	<display-name>Mypagecount_feed</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.Mypagecount_feed</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Mytaste</servlet-name>
  	<display-name>Mytaste</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.Mytaste</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>search</servlet-name>
  	<display-name>search</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.search</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>searchService</servlet-name>
  	<display-name>searchService</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.searchService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetCocktailDetails</servlet-name>
  	<display-name>GetCocktailDetails</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.GetCocktailDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetIngredientDetails</servlet-name>
  	<display-name>GetIngredientDetails</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.GetIngredientDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BoardSearchServlet</servlet-name>
  	<display-name>BoardSearchServlet</display-name>
  	<description></description>
  	<servlet-class>com.cmhrd.controller.BoardSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ingredientType</servlet-name>
  	<url-pattern>/ingredientType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckidService</servlet-name>
  	<url-pattern>/CheckidService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChecknickService</servlet-name>
  	<url-pattern>/ChecknickService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JoinService</servlet-name>
  	<url-pattern>/JoinService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>cocktailType</servlet-name>
  	<url-pattern>/cocktailType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ingrsp</servlet-name>
  	<url-pattern>/ingrsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loadingrsp</servlet-name>
  	<url-pattern>/loadingrsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutService</servlet-name>
  	<url-pattern>/LogoutService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userUpdate</servlet-name>
  	<url-pattern>/userUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>cangeimg</servlet-name>
  	<url-pattern>/cangeimg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>cocktailheart</servlet-name>
  	<url-pattern>/cocktailheart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Checkheart</servlet-name>
  	<url-pattern>/Checkheart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteheart</servlet-name>
  	<url-pattern>/deleteheart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MypageCocktail</servlet-name>
  	<url-pattern>/MypageCocktail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Mypagecount</servlet-name>
  	<url-pattern>/Mypagecount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoadPost</servlet-name>
  	<url-pattern>/LoadPost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateFileService</servlet-name>
  	<url-pattern>/updateFileService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PostUpload</servlet-name>
  	<url-pattern>/PostUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Jsuser</servlet-name>
  	<url-pattern>/Jsuser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>comment_up</servlet-name>
  	<url-pattern>/comment_up</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CommentLoad</servlet-name>
  	<url-pattern>/CommentLoad</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getimg</servlet-name>
  	<url-pattern>/getimg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetPost</servlet-name>
  	<url-pattern>/GetPost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CommentLoad_post</servlet-name>
  	<url-pattern>/CommentLoad_post</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>comment_up_post</servlet-name>
  	<url-pattern>/comment_up_post</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateComment</servlet-name>
  	<url-pattern>/updateComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteComment</servlet-name>
  	<url-pattern>/deleteComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deletePost</servlet-name>
  	<url-pattern>/deletePost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updatePost</servlet-name>
  	<url-pattern>/updatePost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateComment_ct</servlet-name>
  	<url-pattern>/updateComment_ct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteComment_ct</servlet-name>
  	<url-pattern>/deleteComment_ct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoadFeed</servlet-name>
  	<url-pattern>/LoadFeed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FeedUpload</servlet-name>
  	<url-pattern>/FeedUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetFeed</servlet-name>
  	<url-pattern>/GetFeed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>comment_up_feed</servlet-name>
  	<url-pattern>/comment_up_feed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CommentLoad_feed</servlet-name>
  	<url-pattern>/CommentLoad_feed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Checkheart_feed</servlet-name>
  	<url-pattern>/Checkheart_feed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>feedheart</servlet-name>
  	<url-pattern>/feedheart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteheart_feed</servlet-name>
  	<url-pattern>/deleteheart_feed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateComment_feed</servlet-name>
  	<url-pattern>/updateComment_feed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteComment_feed</servlet-name>
  	<url-pattern>/deleteComment_feed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateFeed</servlet-name>
  	<url-pattern>/updateFeed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteFeed</servlet-name>
  	<url-pattern>/deleteFeed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MypageCocktail_feed</servlet-name>
  	<url-pattern>/MypageCocktail_feed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Mypagecount_feed</servlet-name>
  	<url-pattern>/Mypagecount_feed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Mytaste</servlet-name>
  	<url-pattern>/Mytaste</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>search</servlet-name>
  	<url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchService</servlet-name>
  	<url-pattern>/searchService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetCocktailDetails</servlet-name>
  	<url-pattern>/GetCocktailDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetIngredientDetails</servlet-name>
  	<url-pattern>/GetIngredientDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BoardSearchServlet</servlet-name>
  	<url-pattern>/BoardSearchServlet</url-pattern>
  </servlet-mapping> 
</web-app>


